 ##### suppression ou traitement des valeurs manquantes et incohérentes.

In [1]:
import pandas as pd

#### extraire la partie « pays » depuis la colonne Nation

In [11]:
df =pd.read_csv("../../data/processed/all_players.csv")
print(f"l'affichage avant la traitement : \n \n {df.head()} \n")
df["Nation"]=df["Nation"].str.split().str[1]
print(f"l'affichage apres la traitement : \n \n {df.head()}\n")

l'affichage avant la traitement :

              Player   Nation    Pos   Age  MP  Starts     Min   90s  Gls  Ast  \
0        David Raya   es ESP     GK  28.0  38      38  3420.0  38.0  0.0  0.0
1    William Saliba   fr FRA     DF  23.0  35      35  3039.0  33.8  2.0  0.0
2       Declan Rice  eng ENG     MF  25.0  35      33  2825.0  31.4  4.0  7.0
3     Thomas Partey   gh GHA  MF,DF  31.0  35      31  2797.0  31.1  4.0  2.0
4  Leandro Trossard   be BEL     FW  29.0  38      28  2546.0  28.3  8.0  7.0

    G+A  G-PK   PK  PKatt  CrdY  CrdR     Team
0   0.0   0.0  0.0    0.0   3.0   0.0  Arsenal
1   2.0   2.0  0.0    0.0   2.0   1.0  Arsenal
2  11.0   4.0  0.0    0.0   7.0   1.0  Arsenal
3   6.0   4.0  0.0    0.0   4.0   0.0  Arsenal
4  15.0   8.0  0.0    0.0   4.0   1.0  Arsenal

l'affichage apres la traitement :

              Player Nation    Pos   Age  MP  Starts     Min   90s  Gls  Ast  \
0        David Raya    ESP     GK  28.0  38      38  3420.0  38.0  0.0  0.0
1    William Saliba    FRA     DF  23.0  35      35  3039.0  33.8  2.0  0.0
2       Declan Rice    ENG     MF  25.0  35      33  2825.0  31.4  4.0  7.0
3     Thomas Partey    GHA  MF,DF  31.0  35      31  2797.0  31.1  4.0  2.0
4  Leandro Trossard    BEL     FW  29.0  38      28  2546.0  28.3  8.0  7.0

    G+A  G-PK   PK  PKatt  CrdY  CrdR     Team
0   0.0   0.0  0.0    0.0   3.0   0.0  Arsenal
1   2.0   2.0  0.0    0.0   2.0   1.0  Arsenal
2  11.0   4.0  0.0    0.0   7.0   1.0  Arsenal
3   6.0   4.0  0.0    0.0   4.0   0.0  Arsenal
4  15.0   8.0  0.0    0.0   4.0   1.0  Arsenal

#### Remplacer les valeurs manquantes par "Unknown" dans colonne Nation

In [14]:
df["Nation"].isna().sum()
df["Nation"]=df["Nation"].fillna("Unknown")
df["Nation"].isna().sum()

np.int64(0)

#### Remplacer les valeurs manquantes par Mean dans colonne Age

In [17]:
df["Age"]=df["Age"].fillna(df["Age"].mean())
df["Age"].head()
df["Age"].isna().sum()

np.int64(0)